body {
    background-color: MintCream;
}

h1 {
    text-align: left;
    font-family: Garamond;
    color: black;
}

h2 {
    text-align: left;
    font-family: Garamond;
    color: black;
}

p {
    font-family: Garamond;
    font-size: 1.2em;
    color: blue;
}

.indent { 
    text-indent: 20px;
}

#polar_bear_image {
    border: 1px solid #0000ff;
    padding: 1px;
}

table {
    width: 750px;
}

th {
    font-family: Garamond;
    font-size: 2em;
    color: black;
}

td {
    border: 1px solid #0000ff;
    padding: 5px;
}

.yellow_highlight { background-color: #ffff00; }

img.large {
    width: 500px;
    height: 500px;
}

img.medium {
    width: 250px;
    height: 250px;
}

img.small {
    width: 100px;
    height: 100px;
}